header {
    position: absolute;
    // text-align: center;
    width: 100%;
    z-index: 100;

  .brand-logo {
    img {
      width: 5rem;
    }
  }
  img {
    width: 20rem;
  }

  nav {
    background-color: transparent !important;
    width: 100%;

    ul {
      margin-bottom: 0;
      padding: 0;

      li {
        display: inline-block;
        // margin-left: 7rem;
        // margin-right: 7rem;
        text-transform: uppercase;

        a {
          color: $white-0;
          font-size: 1rem;
        }
      }
    }
  }
}

section.separator {
  height: 4rem;
  text-align: center;
}

section.content {
  height: 100vh;

  .card-panel {
    margin-top: 50%;
    transform: translate(0, -50%);
  }
  
  .image {
    img {
      margin-top: 50%;
      position: absolute;
      transform: translate(0, -50%);
    }
  }

  .copy {
    p {
      margin-top: 9rem;
    }
  }

}

footer {
  background-color: $grey-1 !important;
  text-align: center;

  ul {
    li {
      display: inline-block;

      img {
        width: 3rem;
      }
    }
  }
}