section.showcase {
  min-height: 100vh;

  .item {
    overflow: hidden;
    padding: 0 !important;

    a {
      display: inherit;
      
      b.copy {
        color: $white-0;
        font-size: 3rem;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transition: opacity 1s ease-in-out;
        transform: translate(-50%, -50%);
      }

      &:hover {
        b.copy {
          opacity: 1;
        }
      }
    }


    img {
      transition: transform 2s ease;
      width: 100%;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

}